/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background:#ffe383;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding-bottom: 9em;
    padding-top: 8em;
    width:100%;
}
#header{
	background: #f6f6f6;
	padding:1.5em 1em 1.5em 1em;
	font-size:16px;
	position: fixed; 
	top: 0px; 
	left: 0px;
	width: 98%;
	z-index: 1000;
	box-shadow: 0px -2px 20px #555;
	-webkit-box-shadow: 0px -2px 20px #555;
	-moz-box-shadow: 0px -2px 20px #555;
}

#footer{
  background: #f6f6f6;
  color:#BCBCBC;
  padding: .5em 1em 0.5em 1em;
  font-size: 1.5em;
  position: fixed; 
  bottom: 0px; 
  left: 0px;
  width: 98%;
  z-index: 1000;
  box-shadow: 0px 7px 27px #555;
  -webkit-box-shadow: 0px 7px 27px #555;
  -moz-box-shadow: 0px 7px 27px #555;
}
#footer a{
  color:#BCBCBC;
  text-decoration: none;
}
#footer a:active, #footer a.active{
  color:#424242;
}

#footer i{
  font-size: 2.3em;
}
#header li{
	list-style: none;
}
#header li ul li{
	font-size: 2em;
	padding-bottom:0.4em;
}

#header-right{
	color: #73868C;
	float: right;
	margin-top: -2.5em;
	margin-right: 0.5em;
}
#notification{
   display: inline; 
   top: 1.5em; 
   right: 2.5em; 
   background: #E8373E;
}
#header-titre{
	font-size: 3em;
  color: #424242;
	font-weight: bold;
}

#container{
	margin-top: 0;
	margin-bottom: 0;
}

.product{
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:3em;
	background: white;
	/* border-left: 0.2em dotted #666666;
	border-right: 0.2em dotted #666666; */
	border-bottom: 0.2em dashed #666666;
	text-align:center;
	box-shadow: 0px 4px 15px #555;
	-webkit-box-shadow: 0px 4px 15px #555;
	-moz-box-shadow: 0px 4px 15px #555;
}
.product img{
	
}

.product .row-fluid{
	text-align:left;
	padding: 1em;
	border-top : 1px solid #E5E5E5;
	width: 94%;
}

.product-title{
	font-size: 2em;
	padding-top: 0.4em;
	padding-left: 1em;
}
.product-heart{
	text-align: center;
}
.product-ok{
	text-align: center;
}
.product b{
  font-size: 1.5em;
}
.author{
	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-top: 1.5em;
}

.author .name{
	padding-left: 1em; 
	font-size: 1.5em;
}

.author .time{
	text-align: right; 
	padding-right: 2em; 
	font-size: 1.5em; 
	font-style : italic;
	color:grey;
	padding-top: 0.6em;
}

#container-product{
  margin-top: 2.5em;
  margin-bottom: 0;
}
#container-product #title{
  font-size: 3em;
  text-align: center;
  padding: .5em 1em .5em 1em;
  margin: .3em 1em .5em 1em;
  background: white;
  border: .1em dotted grey;
}
#container-product #image{
  text-align: center;
  padding: 0 1em 0;
}
#container-product #image img{
	box-shadow: 0px 4px 15px #555;
	-webkit-box-shadow: 0px 4px 15px #555;
	-moz-box-shadow: 0px 4px 15px #555;
}
#container-product .row-fluid{
  text-align: center;
  margin-top: -1em;
}
#container-product .row-fluid .btn{
  font-size: 2.5em;
  padding: .5em;
  width:7em;
  color:grey;
}

#container-add{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
#container-add input{
	font-size: 3em;
	height: 2.5em;
	width: 94%;
}
#container-add #photo{
	padding:4em;
	font-size: 1.5em;
	color:grey;
	background: white;
	border : .2em dotted grey;
	font-style: italic;
	margin-left:.5em;
	margin-right:.5em;	
}
#container-add .btn{
  font-size: 2.5em;
  padding: .5em;
  width:7em;
}

#accueil{
	font-size: 3em;
	text-align: center;
	line-height: 2em;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.bubble {
  position: relative;
  background-color:#FFCC33;
  color:#A34100;
  font-size:2em;
  margin: 0;
  padding:10px;
  text-align:center;
  /* width:180px; */
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
  top: -0.8em;
  left: 1em;
}
.bubble:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: #FFCC33 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left:1em;
}
